<%- include('partials/header') %>
    <header class="m-0 p-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Api Demo</li>
            </ol>
        </nav>
    </header>

    <div class="container mt-3">
        <div class="row">
            <div class="card text-center px-0">
                <div class="card-header">
                    Dog Breed List
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fun Fact</h5>
                    <p class="card-text">
                        <% if (fact) { %>
                            <%= fact.fact %>
                        <% } else { %>
                            Not availiable at the momment..
                        <% } %>
                    </p>
    
                    <a href="/apicatalog" class="btn btn-info text-light mb-1">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                        </svg>
                        Api Catalog
                    </a>
                </div>
                <div class="card-footer text-body-secondary">
                    Last Update: 2 days ago
                </div>
            </div>
        </div>
        <div class="row my-2">
                <% if (breeds) { %>
                    <% breeds.forEach(function(breed){ %>
                        <div class="col-6 col-sm-3">
                            <div class="card mt-1" style="width: 18rem;">
                                <img src="<%= breed.image_url %>" class="card-img-top" alt="<%= breed.name %>" height="200">
                                <div class="card-body">
                                    <h5 class="card-title"><%= breed.name %></h5>
                                    <a href="/apidemo/<%= breed._id %>" class="btn btn-outline-primary">More Info</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                Breeds List is not availiable at the momment.
                            </div>
                        </div>
                    </div>
                <% } %>
        </div>
    </div>
<%- include('partials/footer') %>
